{% extends 'base.html.twig' %}
{% block title %}S'enregistrer{% endblock %}

{% block body %}
<section class="registration-page">
    <div class="container">
        <div class="row">
            <!-- Colonne gauche : Formulaire -->
            <div id="registration-container">
                {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h1>S'enregistrer</h1>
                <p id="required-field">* Champ obligatoire</p>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
                }) }}
                <div id="eye">
                    <span class="material-symbols-outlined eye-on">visibility</span>
                    <span class="material-symbols-outlined eye-off">visibility_off</span>
                    <span class="displayEye">Afficher le mot de passe</span>
                    <span class="noDisplay">Cacher le mot de passe</span>
                </div>
                {{ form_row(registrationForm.agreeTerms, {
                label: "Accepter les conditions d'utilisation"
                }) }}
                <div class="form-footer">
                    <a href="{{ path('app_rgpd') }}" class="rgpd-link">Règlementation Générale de la Protection des
                        Données</a>
                    <button type="submit" class="btn btn-primary">S'enregistrer</button>
                </div>
                {{ form_end(registrationForm) }}
            </div>

            <!-- Colonne droite : Image -->
            <div class="col-md-6 image-container">
                <img src="{{ asset('images/banners/form-banner-1.JPG') }}" alt="Image page s'enregistrer"
                    class="img-fluid">
            </div>
        </div>
    </div>
</section>
{% endblock %}